APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

# Web & Domain configuration
# SITE_ADDRESS=app.yourdomain.com
# HTTP_PORT=80

# Database
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_ROOT_PASSWORD=change-me-root
DB_DATABASE=product
DB_USERNAME=product
DB_PASSWORD=passwd123

# Queue & Cache
SESSION_DRIVER=database
SESSION_LIFETIME=120
QUEUE_CONNECTION=database
CACHE_STORE=database
